from .base import INSTALLED_APPS, MIDDLEWARE
INSTALLED_APPS += (
    'debug_toolbar',
    'django_extensions',
)
MIDDLEWARE += (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)
# django-debug-toolbar settings
DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}
# settings for django_extensions when graphing models
GRAPH_MODELS = {
  'all_applications': True,
  'group_models': True,
}

# Set something here, we shouldn't check any secret keys into version control
SECRET_KEY = 'enter-a-long-unguessable-string-here'

# make sure debug is on and set host to your local dev env url
DEBUG=True
HOST_LINK = 'http://localhost:8000'

#################
#    AWS        #
#################
AWS_ACCESS_KEY_ID = 'xxx'
AWS_SECRET_ACCESS_KEY = 'xxx'
AWS_S3_FORCE_HTTP_URL = True


#################
#  Salesforce   #
#################
SALESFORCE = { 'username' : '',
               'password' : '', # password might need to be concatenated with security_token e.g. 'mypass1231'
               'security_token' : '',
               'sandbox': True }

#################
#  Accounts     #
#################
ACCOUNTS_URL = 'https://dev.openstax.org/accounts'
SHARED_SECRET = 'xxx'
SSO_COOKIE_NAME = 'oxa_dev'
BYPASS_SSO_COOKIE_CHECK = False

SOCIAL_AUTH_OPENSTAX_KEY = 'xxx'
SOCIAL_AUTH_OPENSTAX_SECRET = 'xxx'
AUTHORIZATION_URL = 'https://dev.openstax.org/accounts/oauth/authorize'
ACCESS_TOKEN_URL = 'https://dev.openstax.org/oauth/token'
USER_QUERY = 'https://dev.openstax.org/api/user?'
USERS_QUERY = 'https://dev.openstax.org/api/users?'
SOCIAL_AUTH_LOGIN_REDIRECT_URL = 'https://dev.openstax.org'
SOCIAL_AUTH_SANITIZE_REDIRECTS = False

#################
#  GoToWebinar  #
#################
GOTOWEBINAR_CONSUMER_KEY='xxx'
GOTOWEBINAR_CONSUMER_SECRET='xxx'

#################
#  Mapbox       #
#################
MAPBOX_TOKEN = '' # should be the sk from mapbox

#################
#  Media        #
#################
# locally, we want to use local storage for uploaded (media) files
DEFAULT_FILE_STORAGE = 'django.core.files.storage.FileSystemStorage'
STATICFILES_STORAGE = 'django.contrib.staticfiles.storage.StaticFilesStorage'

#################
#  CORS         #
#################
CORS_ORIGIN_ALLOW_ALL = False
CORS_ALLOW_CREDENTIALS = True
CORS_ORIGIN_WHITELIST = (
    'http://localhost:3000' # http://localhost:3000, not http://localhost:3000/
)

# As of Django 1.10, we need to be explicit with localhost being allowed
ALLOWED_HOSTS = ['127.0.0.1', 'localhost', '0.0.0.0']
