from .base import INSTALLED_APPS, MIDDLEWARE
INSTALLED_APPS += (
    'debug_toolbar',
    'django_extensions',
)
MIDDLEWARE += (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)
# django-debug-toolbar settings
DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}
# settings for django_extensions when graphing models
GRAPH_MODELS = {
  'all_applications': True,
  'group_models': True,
}

# Set something here, we shouldn't check any secret keys into version control
SECRET_KEY = 'enter-a-long-unguessable-string-here'

# make sure debug is on and set host to your local dev env url
DEBUG=True

#################
#  Media        #
#################
# locally, we want to use local storage for uploaded (media) files
DEFAULT_FILE_STORAGE = 'django.core.files.storage.FileSystemStorage'
STATICFILES_STORAGE = 'django.contrib.staticfiles.storage.StaticFilesStorage'

#################
#  CORS         #
#################
CORS_ORIGIN_ALLOW_ALL = False
CORS_ALLOW_CREDENTIALS = True
CORS_ORIGIN_WHITELIST = (
    'http://localhost:3000' # http://localhost:3000, not http://localhost:3000/
)
