{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}Export Pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Export Pages" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str icon="download" %}

    <div class="nice-padding">
        <form action="{% url 'wagtailimportexport:export-page' %}" method="POST" novalidate>
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    <li>{% include "wagtailadmin/shared/field.html" %}</li>
                {% endfor %}
            </ul>

            <input type="submit" value="{% trans 'Export Page(s)' %}" class="button">
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ form.media.js }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
