{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}Import/Export Pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Import/Export Pages" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str icon="download" %}

    <div class="nice-padding">
        <ul class="listing">
            <li>
                <div class="row row-flush title">
                    <h2>
                        <a href="{% url 'wagtailimportexport:import-page' %}" class="col6">
                            {% trans "Import Page from File" %}
                        </a>
                    </h2>
                </div>
            </li>
            <li>
                <div class="row row-flush title">
                    <h2>
                        <a href="{% url 'wagtailimportexport:export-page' %}" class="col6">
                            {% trans "Export Page to File" %}
                        </a>
                    </h2>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
