{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% blocktrans %}Import / export pages{% endblocktrans %}{% endblock %}
{% block content %}
    {% trans "Import / export pages" as title_str %}
    {% include "wagtailadmin/shared/header.html" with title=title_str icon="download" %}

    <div class="nice-padding">
        <ul class="listing">
            <li>
                <div class="row row-flush title">
                    <h2>
                        <a href="{% url 'wagtailimportexport_admin:import_from_file' %}" class="col6">
                            {% trans "Import from File" %}
                        </a>
                    </h2>
                </div>
            </li>
            <li>
                <div class="row row-flush title">
                    <h2>
                        <a href="{% url 'wagtailimportexport_admin:export_to_file' %}" class="col6">
                            {% trans "Export to File" %}
                        </a>
                    </h2>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
