/.vagrant
/wagtaildemo/settings/local.py
/static
*.pyc
/media
/Vagrantfile.local
openstax/settings/local.py
*.log
/.idea
/htmlcov
/.coverage
.DS_STORE

*.bk
admin_templates/templates/wagtailadmin/login.html*