/.vagrant
/wagtaildemo/settings/local.py
/public/static
/public/media
/static
*.pyc
/media
/Vagrantfile.local
openstax/settings/local.py
*.log
/.idea
/htmlcov
/.coverage
.venv
.DS_STORE
*.icloud

*.bk
admin_templates/templates/wagtailadmin/login.html*
.vscode/settings.json
