/.vagrant
*/public
/public/static
/public/media
/static
*.pyc
/media
/Vagrantfile.local
openstax/settings/local.py
*.log
/.idea
/htmlcov
/.coverage
.venv
.DS_STORE
*.icloud
*.bk
.vscode/settings.json
.env
