{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{{title}}{% endblock %}
{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=title icon="view" %}

    <div class="nice-padding">
        OpenStax Webview (frontend) version: {{osweb_version}}
    </div>
    <div class="nice-padding">
        OpenStax CMS (backend) version: {{cms_version}}
    </div>
    <div class="nice-padding">
        OpenStax CMS AMI built with bit-deployment version: {{deployment_version}}
    </div>
{% endblock %}
