interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope\n        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n
      \       xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:urn=\"urn:partner.soap.sforce.com\">\n    <env:Header>\n        <urn:CallOptions>\n
      \           <urn:client>simple-salesforce</urn:client>\n            <urn:defaultNamespace>sf</urn:defaultNamespace>\n
      \       </urn:CallOptions>\n    </env:Header>\n    <env:Body>\n        <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n            <n1:username></n1:username>\n
      \           <n1:password></n1:password>\n
      \       </n1:login>\n    </env:Body>\n</env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://test.salesforce.com/services/Soap/u/57.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00DOx000002qc01!AQEAQF2cYbO.p0JWJlBNDnChZd7X5xizdDbtmoe.29hI9rztJW0J8hN8VuzWnVfb55rN0PWexxpTHIeHrW7U5sFx4.trlQ85
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v57.0/query/?q=Select+Name%2C+Official_Name__c+from+Book__c+where+Id+%3D+%27a0ZU0000008pyvQMAQ%27
  response:
    body:
      string: "{\n  \"totalSize\" : 1,\n  \"done\" : true,\n  \"records\" : [ {\n
        \   \"attributes\" : {\n      \"type\" : \"Book__c\",\n      \"url\" : \"/services/data/v57.0/sobjects/Book__c/a0ZU0000008pyvQMAQ\"\n
        \   },\n    \"Name\" : \"University Physics (Calc)\",\n    \"Official_Name__c\"
        : \"University Physics\"\n  } ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=63309/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - bb57bdbf4d3796310f25029ae170f943
    status:
      code: 200
      message: OK
version: 1
