interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope\n        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n
      \       xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:urn=\"urn:partner.soap.sforce.com\">\n    <env:Header>\n        <urn:CallOptions>\n
      \           <urn:client>simple-salesforce</urn:client>\n            <urn:defaultNamespace>sf</urn:defaultNamespace>\n
      \       </urn:CallOptions>\n    </env:Header>\n    <env:Body>\n        <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n            <n1:username>user@rice.edu.staging</n1:username>\n
      \           <n1:password>password</n1:password>\n
      \       </n1:login>\n    </env:Body>\n</env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://test.salesforce.com/services/Soap/u/57.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/m/57.0/00DOx000002qc01</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>true</sandbox><serverUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/u/57.0/00DOx000002qc01</serverUrl><sessionId>00DOx000002qc01!AQEAQJ8kGHCNrPXBk42vQpJLmLuPf9wi1gmq83wgQ11wZ3aFlzXUtXRUDgDk1uUSQ.g8lDbI_lZC1YGq3Eveoxp7mUs9xsZa</sessionId><userId>005U0000005MXdmIAG</userId><userInfo><accessibilityMode>false</accessibilityMode><chatterExternal>false</chatterExternal><currencySymbol>$</currencySymbol><orgAttachmentFileSizeLimit>5242880</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode>USD</orgDefaultCurrencyIsoCode><orgDefaultCurrencyLocale>en_US</orgDefaultCurrencyLocale><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>true</orgHasPersonAccounts><organizationId>00DOx000002qc01MAA</organizationId><organizationMultiCurrency>false</organizationMultiCurrency><organizationName>OpenStax</organizationName><profileId>00eU0000000qdoxIAA</profileId><roleId
        xsi:nil="true"/><sessionSecondsValid>86400</sessionSecondsValid><userDefaultCurrencyIsoCode
        xsi:nil="true"/><userEmail>user@rice.edu</userEmail><userFullName>Tracking
        User</userFullName><userId>005U0000005MXdmIAG</userId><userLanguage>en_US</userLanguage><userLocale>en_US</userLocale><userName>user@rice.edu.staging</userName><userTimeZone>America/Chicago</userTimeZone><userType>Standard</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 00DOx000002qc01!AQEAQJ8kGHCNrPXBk42vQpJLmLuPf9wi1gmq83wgQ11wZ3aFlzXUtXRUDgDk1uUSQ.g8lDbI_lZC1YGq3Eveoxp7mUs9xsZa
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v57.0/query/?q=SELECT+Id%2C+Name%2C+Partner_Type__c%2C+Books_Offered__c%2C+Description__c%2C+Rich_Description__c%2C+short_partner_description__c%2C+Website__c%2C+Lead_Sharing__c%2C+Verified_by_instructors__c%2C+Integrated_with_OpenStax_content__c%2C+Landing_page__c%2C+Account__c%2C+Affordability_Cost__c%2C+Affordability_institutional__c%2C+App_available__c%2C+Adaptivity_adaptive_presentation__[...]
