interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope\n        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n
      \       xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:urn=\"urn:partner.soap.sforce.com\">\n    <env:Header>\n        <urn:CallOptions>\n
      \           <urn:client>simple-salesforce</urn:client>\n            <urn:defaultNamespace>sf</urn:defaultNamespace>\n
      \       </urn:CallOptions>\n    </env:Header>\n    <env:Body>\n        <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n            <n1:username></n1:username>\n
      \           <n1:password></n1:password>\n        </n1:login>\n    </env:Body>\n</env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://test.salesforce.com/services/Soap/u/59.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/m/59.0/00DOy00000BbeBR</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>true</sandbox><serverUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/u/59.0/00DOy00000BbeBR</serverUrl><sessionId>00DOy00000BbeBR!AQEAQNlbmZg4EFb12KJbpA20fYO8sFvdmYoU26vKoJrGeuSNMJbF12oT1umtbNAXpw9DIGXCInDt_ROtK3SRY1vOupFQQQwU</sessionId><userId>005U0000005MXdmIAG</userId><userInfo><accessibilityMode>false</accessibilityMode><chatterExternal>false</chatterExternal><currencySymbol>$</currencySymbol><orgAttachmentFileSizeLimit>5242880</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode>USD</orgDefaultCurrencyIsoCode><orgDefaultCurrencyLocale>en_US</orgDefaultCurrencyLocale><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>true</orgHasPersonAccounts><organizationId>00DOy00000BbeBRMAZ</organizationId><organizationMultiCurrency>false</organizationMultiCurrency><organizationName>OpenStax</organizationName><profileId>00eU0000000qdoxIAA</profileId><roleId
        xsi:nil="true"/><sessionSecondsValid>86400</sessionSecondsValid><userDefaultCurrencyIsoCode
        xsi:nil="true"/><userEmail>sfadmin@openstax.org</userEmail><userFullName>Tracking
        User</userFullName><userId>005U0000005MXdmIAG</userId><userLanguage>en_US</userLanguage><userLocale>en_US</userLocale><userName>trackinguser@rice.edu.staging</userName><userTimeZone>America/Chicago</userTimeZone><userType>Standard</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+Id%2C+Name%2C+Partner_Type__c%2C+Books_Offered__c%2C+Description__c%2C+Rich_Description__c%2C+short_partner_description__c%2C+Website__c%2C+Lead_Sharing__c%2C+Verified_by_instructors__c%2C+Integrated_with_OpenStax_content__c%2C+Landing_page__c%2C+Account__c%2C+Affordability_Cost__c%2C+Affordability_institutional__c%2C+App_available__c%2C+Adaptivity_adaptive_presentation__[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeTEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37328/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 68446b5014dee725459fa8576b2edca5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeXEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37333/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 4ac6f841cd910b2fbc978a000f02c907
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeiEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37336/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 0251d7f066fe580bf1718e66fc2f3ef8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TejEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37326/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 432ec07ed429d2a4d5c183914fbadc21
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4Tf5EAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37335/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 4a0c8f549c2c3124f256644f687c5987
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfQEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37340/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - ead7c553b593662e3c5a6c027aa5e3ba
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfUEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37339/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 4a3519d4f40f596bbeae5b7dcef529d3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfXEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37343/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 2cb32c80a5a691c24d6667c081f63ce4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfkEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37351/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 8651ba6e59553ef14bf591bae7027a1f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TftEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37350/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - b3a4d91d526d21b667abac3cc84d8583
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgSEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37357/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - d0ccf3ba953b193b1b192975375ea0e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgcEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37363/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 926e36ca78f395ad11475698e0ec3a56
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgiEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37362/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 59c2060c4810deb45cd2a2278d4ad635
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UH4EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37358/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 4d6c9deb2ad3df55041f3d3b860eee80
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHJEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37359/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 451acc615e0dcea04f7ec6e059324c5c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHOEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37365/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 5b8f455a98b9d4d3e9a9bd8c583011cf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHYEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37363/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 82ce8499bffe28076bfb0d7f953cc6e2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHiEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37361/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 933d77f354b8d657b68a9243f16b9dda
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHnEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37363/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - fff328f215b10185db0b388b1c5d1e8c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHxEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37355/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - aff20190dc529f657399815f82425f9d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UI7EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37361/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 22b9d8f47962a5d8292ce601ce6c7001
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UICEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37358/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f4420f3bc17490a54283004e9e2ccf9d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIDEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37354/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 6a018f731497687a365c5a5470b1aeb2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIMEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37369/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 09958126084a47cd6746b7ad7013b348
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIWEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37357/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 99e3d4faeca8fbf97cd5f38af7252b49
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIbEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37362/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - c2dbfac87d217b88aa805d4569087f58
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIlEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37363/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - ae997372956b34b875729b67c052922b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIvEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37365/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 7e669756eb7c32945bc72eee57e9d778
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJFEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37359/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - bb0fb0dd649a8c6af334950f688e7ac9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJPEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37356/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - dc27cee2dbc7e6787d272461c1e39218
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJUEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37374/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 5f81529b127f89f2a1dd36e48fac554a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJZEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37375/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f2a735af5a251a388779c82191f8c94f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJaEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37383/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 3f264b9521b3de2d27b750a4290ed882
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJeEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37377/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - e9248e6f30291d92febef1ba91243cb6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJoEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37370/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 28f0e7962e1c926f5425273790833374
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJyEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37375/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 5cbe8b0adfe2ba5ba62b6dfab861f45a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UK3EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=37384/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - cb6694652da352c5f417c13c93066c9e
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
[...]
