interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<env:Envelope\n        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n
      \       xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:urn=\"urn:partner.soap.sforce.com\">\n    <env:Header>\n        <urn:CallOptions>\n
      \           <urn:client>simple-salesforce</urn:client>\n            <urn:defaultNamespace>sf</urn:defaultNamespace>\n
      \       </urn:CallOptions>\n    </env:Header>\n    <env:Body>\n        <n1:login
      xmlns:n1=\"urn:partner.soap.sforce.com\">\n            <n1:username></n1:username>\n
      \           <n1:password></n1:password>\n        </n1:login>\n    </env:Body>\n</env:Envelope>"
    headers:
      SOAPAction:
      - login
      charset:
      - UTF-8
      content-type:
      - text/xml
    method: POST
    uri: https://test.salesforce.com/services/Soap/u/59.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns="urn:partner.soap.sforce.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginResponse><result><metadataServerUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/m/59.0/00DOy00000BbeBR</metadataServerUrl><passwordExpired>false</passwordExpired><sandbox>true</sandbox><serverUrl>https://openstax--staging.sandbox.my.salesforce.com/services/Soap/u/59.0/00DOy00000BbeBR</serverUrl><sessionId>00DOy00000BbeBR!AQEAQNlbmZg4EFb12KJbpA20fYO8sFvdmYoU26vKoJrGeuSNMJbF12oT1umtbNAXpw9DIGXCInDt_ROtK3SRY1vOupFQQQwU</sessionId><userId>005U0000005MXdmIAG</userId><userInfo><accessibilityMode>false</accessibilityMode><chatterExternal>false</chatterExternal><currencySymbol>$</currencySymbol><orgAttachmentFileSizeLimit>5242880</orgAttachmentFileSizeLimit><orgDefaultCurrencyIsoCode>USD</orgDefaultCurrencyIsoCode><orgDefaultCurrencyLocale>en_US</orgDefaultCurrencyLocale><orgDisallowHtmlAttachments>false</orgDisallowHtmlAttachments><orgHasPersonAccounts>true</orgHasPersonAccounts><organizationId>00DOy00000BbeBRMAZ</organizationId><organizationMultiCurrency>false</organizationMultiCurrency><organizationName>OpenStax</organizationName><profileId>00eU0000000qdoxIAA</profileId><roleId
        xsi:nil="true"/><sessionSecondsValid>86400</sessionSecondsValid><userDefaultCurrencyIsoCode
        xsi:nil="true"/><userEmail>sfadmin@openstax.org</userEmail><userFullName>Tracking
        User</userFullName><userId>005U0000005MXdmIAG</userId><userLanguage>en_US</userLanguage><userLocale>en_US</userLocale><userName>trackinguser@rice.edu.staging</userName><userTimeZone>America/Chicago</userTimeZone><userType>Standard</userType><userUiSkin>Theme3</userUiSkin></userInfo></result></loginResponse></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+Id%2C+Name%2C+Partner_Type__c%2C+Books_Offered__c%2C+Description__c%2C+Rich_Description__c%2C+short_partner_description__c%2C+Website__c%2C+Lead_Sharing__c%2C+Verified_by_instructors__c%2C+Integrated_with_OpenStax_content__c%2C+Landing_page__c%2C+Account__c%2C+Affordability_Cost__c%2C+Affordability_institutional__c%2C+App_available__c%2C+Adaptivity_adaptive_presentation__[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeTEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 559669a348eddf4f5ba2b901291cce11
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeXEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - de938d543efcfa4910dcb252b7b6afe7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TeiEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 9edac8f0ef8b17c15b11f85dbedb90b5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TejEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - d631ca27427c14e9cda9514253045632
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4Tf5EAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - c5b19474ffa550a7613af7c167e6909f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfAEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 3a1ed43fe892f4a612005145cb1e9af2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfQEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - c31e65ff4a8d36de36d82e66561f9dd4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfUEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 3a20fc1ba3efac008e09446f8071b5ec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfXEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38799/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f3f8f54e86ad4f69e2c94daf3b379302
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TfkEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 112371c6ed4a0f5be05e60dcbbf1980a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TftEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 978f731b2a72c29e1a600bf278b4dabc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgSEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38799/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 36d2f6999fe8a2cdcaae8d3465d4706d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgXEAU%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38797/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 08035fc108402a7b187abfcf4c27f8d4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgcEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38799/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 3913ee1644df494ad9d0dc032941f724
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4TgiEAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 255aed00ac528491e1d2159c7d2ba2f9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4U67EAE%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - e320c4f616a16b007d169e5b3021dba1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UH4EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 185f065c7200795a591281072e1e60fc
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHJEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 94146f8f026107652b97c1f9b1f1db9a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHOEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 09391da53e3753536247cfe2a96f980d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHYEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38799/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 10ac58c9bcb7ba1f62e46115f8190e6b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHiEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38799/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f0ab059a5cb33c9e2be27146d4c4ba6f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHnEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38801/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 2d9d928f04865e93a5c04aa832e49139
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UHxEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f158cdc8d757e9a742d34ad90ef5dd40
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UI2EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - bbe5923f6011122f035ae33f453052ad
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UICEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 750168f57ff2ee580f6aa6b46c8760f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIDEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 51638217cadef8e778e7ac6e8159e604
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIMEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38801/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - cd7a209d090ab387b014af974abb1436
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIREA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38802/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 2af7e5c5c5450ccb74c7082946cb6ef7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIWEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 3b19fd9b307d9ace2f57b1da2b2a1b1c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIbEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38800/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 9b945a25183944755724c65cd14c5afb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIlEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38801/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 92b0946f6da7d67fa15d221dfa204443
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UIvEAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38801/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 320f764a0bfbe68325a7bee23a39db85
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJ5EAM%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38798/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - f0a03bae6b025b7bbcdeb4421e47060f
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJAEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38802/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - b6b3ac59e20ac8f629fcc991bcec3d08
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJFEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38803/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - cffce205cb76248c14ba98ae5a143036
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJPEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38804/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 6974ed6fb0ce4fd9cb9f4f632416116d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
    uri: https://openstax--staging.sandbox.my.salesforce.com/services/data/v59.0/query/?q=SELECT+ContentDocumentId+FROM+ContentDocumentLink+WHERE+LinkedEntityId+%3D+%27a0N6f00000g4UJUEA2%27
  response:
    body:
      string: "{\n  \"totalSize\" : 0,\n  \"done\" : true,\n  \"records\" : [ ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=38803/5000000
      X-SFDC-Edge-Cache:
      - MISS
      X-SFDC-Request-Id:
      - 04199581d4527cf4a13598175e06c7ca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PrettyPrint:
      - '1'
    method: GET
[...]
