{% extends "demo/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block heading %}
  <div class="page-header">
    <h2>
      {{ self.title }}
    </h2>

  </div>
{% endblock %}

{% block content %}
    
    {# Book cover image - first store image as a variable in order to construct an image tag with a class applied #}
    {% image self.cover_image width-300 as photo %}
     <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ photo.alt }}" class="img-thumbnail pull-right" />

    <div style="margin-right:280px;">
    {{ self.description|richtext }}
    </div>

{% endblock %}
