{% extends 'errata/base.html' %}
{% load static %}


{% block content %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Dashboard</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-inbox f-s-40 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <a href="{% url 'errata_list' %}?status=New">
                                <h2>{{ new_errata_count }}</h2>
                                <p class="m-b-0">New</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-book f-s-40 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <a href="{% url 'errata_list' %}?status=Editorial Review">
                                <h2>{{ editorial_review_count }}</h2>
                                <p class="m-b-0">Editorial Review</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-comment f-s-40 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <a href="{% url 'errata_list' %}?status=Reviewed">
                                <h2>{{ reviewed_count }}</h2>
                                <p class="m-b-0">Reviewed</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-archive f-s-40 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <a href="{% url 'errata_list' %}?status=Completed">
                                <h2>{{ completed_count }}</h2>
                                <p class="m-b-0">Completed</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Recent New Reports <div class="small"><a href="{% url 'errata_list' %}">View All</a> | <a href="{% url 'errata_list' %}?filter=aec">View All Except Completed</a></div></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Book</th>
                                        <th>Type</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for errata in recent_errata %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'errata_edit' %}?errata={{errata.pk}}">{{ errata.pk }}</a>
                                            </td>
                                            <td>{{ errata.book.title }}</td>
                                            <td><span>{{ errata.error_type }}</span></td>
                                            <td>{{ errata.detail|truncatechars:50 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Errata: By the book</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body browser">
                                <div id="donut-example"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4>Errata: By type</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body browser">
                                <div id="type-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

{% block page_javascripts %}
    <!-- Amchart -->
    <script src="{% static 'errata/js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'errata/js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'errata/js/lib/morris-chart/dashboard1-init.js' %}"></script>


	<script src="{% static 'errata/js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'errata/js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'errata/js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'errata/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'errata/js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'errata/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'errata/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'errata/js/scripts.js' %}"></script>
    <!-- scripit init-->
        <script>
        // errata by book graph
        Morris.Donut({
          element: 'donut-example',
          formatter: function (value, data) { return value + '%'; },
          resize: true,
          data: [
              {% for book in by_book %}
                {label: '{{ book.book__title }}', value: {{ book.percent }}},
                {% endfor %}
          ]
        }).on('click', function (i, row) {
           window.location.href = "{% url 'errata_list' %}?book=" + row.label;
        });

        // errata by type graph
        var data = [
                {% for type in by_type %}
                    {%if type.error_type %}
                        { y: '{{ type.error_type }}', a: {{ type.reports }} },
                    {% endif %}
                {% endfor %}
            ],
            config = {
              data: data,
              xkey: 'y',
              ykeys: ['a'],
              labels: ['Total Reports',],
              xLabelAngle: 45,
              axes: 'y',
              fillOpacity: 0.6,
              hideHover: 'auto',
              behaveLikeLine: true,
              resize: true,
              pointFillColors:['#ffffff'],
              pointStrokeColors: ['black'],
              lineColors:['gray','red']
          };

        config.element = 'type-bar';
        Morris.Bar(config).on('click', function (i, row) {
           window.location.href = "{% url 'errata_list' %}?type=" + row.y;
        });


        </script>
{% endblock %}