{% extends 'errata/base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'errata/css/lib/html5-editor/bootstrap-wysihtml5.css' %}" />
<style>
    .wysihtml5-toolbar {
        display: none !important;
    }
    .btn-group label {
        color: black !important;
        margin-right: 25px;
    }
    .errorlist {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{% if errata %}Edit Errata #{{ errata.id }}{% else %}Create Errata{% endif %}</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'errata_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Errata</li>
            <li class="breadcrumb-item active">{% if errata %}{{ errata.id }}{% else %}New{% endif %}</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<!-- Container fluid  -->
<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>{% if errata %}Edit Errata #{{ errata.id }}{% else %}Create Errata{% endif %}</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="submit-buttons pull-right">
                                <input type="submit" class="btn btn-success" name="save" value="Save">
                                <input type="submit" class="btn btn-warning" name="duplicate" value="Duplicate">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
{% endblock %}

{% block page_javascripts %}
    <script src="{% static 'errata/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'errata/js/lib/html5-editor/wysihtml5-0.3.0.js' %}"></script>
    <script src="{% static 'errata/js/lib/html5-editor/bootstrap-wysihtml5.js' %}"></script>
    <script src="{% static 'errata/js/lib/html5-editor/wysihtml5-init.js' %}"></script>

    <script>
        //DUPLICATE ID FIELD
        if($('#id_resolution_0').is(':checked')) {
           $("label[for='id_duplicate_id']").show('slow');
           $('#id_duplicate_id').show('slow');
           $('.helptext').show('slow');
       } else {
           $("label[for='id_duplicate_id']").hide('slow');
           $('#id_duplicate_id').hide('slow');
           $('.helptext').hide('slow');
       }

        $('#id_resolution').click(function() {
           if($('#id_resolution_0').is(':checked')) {
               $("label[for='id_duplicate_id']").show('slow');
               $('#id_duplicate_id').show('slow');
               $('.helptext').show('slow');
           } else {
               $("label[for='id_duplicate_id']").hide('slow');
               $('#id_duplicate_id').hide('slow');
               $('.helptext').hide('slow');
           }
        });

        // ASSESSMENT ERRATA
        // check if error type other is checked, to show other box
        if($( "#id_is_assessment_errata option:selected" ).text() == 'Yes'){$('#id_assessment_id').show('slow');$("label[for='id_assessment_id']").show('slow');}else{$('#id_assessment_id').hide();$("label[for='id_assessment_id']").hide();}
        $('#id_is_assessment_errata').change(function() {
            if($( "#id_is_assessment_errata option:selected" ).text() == 'Yes'){$('#id_assessment_id').show('slow');$("label[for='id_assessment_id']").show('slow');}else{$('#id_assessment_id').hide('slow');$("label[for='id_assessment_id']").hide('slow');}
        });

        // ERROR TYPE OTHER
        // check if error type other is checked, to show other box
        if($('#id_error_type_5').is(':checked')) { $('#id_error_type_other').show('slow');$("label[for='id_error_type_other']").show('slow'); }else{$('#id_error_type_other').hide('slow');$("label[for='id_error_type_other']").hide('slow');}
        // if user clicks other, show other
        $('input[name=error_type]').click(function() {
           if($('#id_error_type_5').is(':checked')) { $('#id_error_type_other').show('slow');$("label[for='id_error_type_other']").show('slow'); }else{$('#id_error_type_other').hide('slow');$("label[for='id_error_type_other']").hide('slow');}
        });

        // RESOURCE OTHER
        // check if error type other is checked, to show other box
        if($('#id_resource_7').is(':checked')) { $('#id_resource_other').show('slow');$("label[for='id_resource_other']").show('slow'); }else{$('#id_resource_other').hide('slow');$("label[for='id_resource_other']").hide('slow');}
        // if user clicks other, show other
        $('input[name=resource]').click(function() {
           if($('#id_resource_7').is(':checked')) { $('#id_resource_other').show('slow');$("label[for='id_resource_other']").show('slow'); }else{$('#id_resource_other').hide('slow');$("label[for='id_resource_other']").hide('slow');}
        });

    </script>
{% endblock %}