{% extends "pages/base.html" %}


{% block heading %}
    <div class="jumbotron">
        <h1>{{ self.title }}</h1>
        {% block search_box %}
            {% include "pages/includes/search_box.html" only %}
        {% endblock %}
    </div>
{% endblock %}


{% block content %}
    {% include "pages/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% if self.body %}
        <div class="body-content">
            {{ self.body|safe }}
        </div>
    {% endif %}

{% endblock %}
